@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Proxima Nova;
    font-weight: 400;
    src: url(./fonts/proxima-nova/ProximaNova-Regular.ttf) format('ttf');
  }
  @font-face {
    font-family: Proxima Nova;
    font-weight: 500;
    src: url(./fonts/proxima-nova/ProximaNova-Semibold.ttf) format('ttf');
  }
  body {
    @apply flex flex-col min-h-screen bg-white dark:bg-slate-800 dark:text-white text-slate-800;
  }
  section {
    @apply flex flex-col;
  }
  header,
  footer {
    @apply flex flex-row justify-between p-6 bg-slate-800 dark:bg-white  text-brand-green;
  }
  h1 {
    @apply text-4xl font-bold text-brand-green;
  }
  h2 {
    @apply text-lg font-bold ;
  }
  th,
  td {
    @apply px-2 py-1 ;
  }
  a {
    @apply text-brand-green;
  }
  input {
    @apply border-solid border-2 border-brand-green text-brand-green;
  }
  button {
    @apply rounded-md border-solid border-2 border-brand-green text-brand-green p-2;
  }
  .toggle {
    position: relative;
  }
  .toggle input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }
  .toggle label {
    position: relative;
    display: flex;
    align-items: center;
  }
  .toggle label:before {
    content: '';
    width: 90px;
    height: 42px;
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 46px;
    transition: 0.2s ease-in;
  }
  .toggle label:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 0;
    top: -5px;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px #0002;
    transition: 0.2s ease-in;
  }
  .toggle input[type="checkbox"]:hover + label:after  {
      box-shadow: 0 2px 15px 0 #0002, 0 3px 8px 0 #0001;
  }
  .toggle input[type="checkbox"]:checked + label:before {
    background: #376fcb;
  }
  .toggle input[type="checkbox"]:checked + label:after {
    background: #4285F4;
    left: 40px;
  }
}
